<div class="login-form">
  <form action="/read" method="post">
    <div class="form-control">
      <p>Read the file:-</p>
      <input
        type="text"
        name="student_email"
        id="student_email"
        placeholder="Enter student email"
      />
      <button type="submit" class="btn">Read!</button>
    </div>
  </form>
</div>
